/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
  /* --bg-image-header: url(../images/cover-image-dark.png); */
  --main-text-color: #F1B2CE;
  --title-decor-color: #000028;
  --button-opacity-color: rgb(255,0,112, 0.4);
  --header-text-color: #FF0070;
  --concentrate-title-color: #FF0070;
  --bg-color: #000028;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --accent-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  /* --bg-image-header: url(../images/cover-image-dark.png); */
  --main-text-color: #F1B2CE;
  --title-decor-color: #000028;
  --button-opacity-color: rgb(255,0,112, 0.4);
  --header-text-color: #FF0070;
  --concentrate-title-color: #FF0070;
  --bg-color: #000028;
}