/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --title-decor-color: #353430;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

/* .rec {
  display: none;
} */

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --title-decor-color: #353430;
}
}