/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex mono", sans-serif;
  font-size: var(--main-font-sz);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding: 10px;

  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--bg-color);
}

.header {
  background-image: var(--bg-image);
  color: var(--accent-color);
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  min-height: 100vh;
  margin-block-end: 40px;
  /* margin-block-end: 20px; */
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  pointer-events: none;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--header-text-color);
  border-inline-end: 1px solid var(--header-text-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--header-text-color);
  border-inline-start: 1px solid var(--header-text-color);
}

.header__theme-menu-button {
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase; /* преобразование в нижний регистр */
  text-align: center;
  border: none;
  color: var(--header-text-color);
  cursor: pointer;
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-opacity-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-text-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--accent-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  /* color: var(--); */
  /* margin-block-start: 65px; */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  margin-block-start: 65px;
}

.header-text {
  font-weight: 700;
  line-height: 23.4px;
  max-block-size: 117px;
  align-self: center;
  justify-self: end;
  margin-block-end: 66px;
}

.main {
  display: grid;
  gap: 50px;
  color: var(--main-text-color);
  margin-block-end: 40px;
}

.concentrate-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--concentrate-title-color);
  padding-block-end: 20px;
}

.rec {
  /* font-size: var(--main-font-size); */
  text-transform: uppercase;
  line-height: 25px;
  /* color: var(--color-decor); */
  inset-block-start: clamp(10px, 3vw, 20px);
  inset-inline-end: clamp(10px, 3vw, 20px);
  position: absolute;
  display: flex;
  align-items: center;
  padding-inline-end: 9px;
}

.rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-start: 10px;
}

.title {
  font-size: var(--title-font-sz);
  font-weight: 700;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-start: 65px;
  margin-block-end: 55px;
}

.concentrate-subtitle {
  font-size: 18px;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.no-margin-block-start {
  margin-block-start: 0;
}

.concentrate-paragraph {
  font-weight: 400;
  line-height: 23.4px;
}

.title-decor {
  /* block-size: ; */
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  font-weight: 700;
}

.concentrate-subtitle-item {
  margin-block-start: 20px;
  margin-block-end: 10px;
  font-weight: 400;
}

.shadow-text {
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
}

.shadow-text:hover {
  border-bottom: solid 1px currentColor;
}

.shadow-text:focus {
  outline: none;
}

.shadow-text:focus-visible {
  outline: var(--accent-color) solid 1px;
}

/*картинки*/

.can-in-pictures {
  padding-block-end: 0;
}

.pictures .concentrate-title {
  color: var(--title-decor-color);
}

.pictures-list {
  margin-block-start: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
}

.picture-item {
  height: 100%;
}

.picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
.picture-item:nth-child(1) {
  max-height: 142px;
}
.picture-item:nth-child(2) {
  max-height: 355px;
}
.picture-item:nth-child(3) {
  max-height: 237px;
}
.picture-item:nth-child(4) {
  max-height: 355px;
}
.picture-item:last-child {
  max-height: 237px;
}

/*footer*/

/* мой .footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  min-height: 100vh;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
  display: inline-block;
  margin-block-end: 0;
  margin-block-start: 0;
} */

.footer {
  display: grid;
  min-height: 100vh;
  position: relative;
}

.footer_title {
  justify-self: center;
  align-self: center;
  color: #db00ff;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --title-font-sz: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page {
    padding: 20px;
  }

  .header {
    margin-block-end: 40px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .title {
    margin-block-start: 173px;
  }

  .header-text {
    /* display: inline-block; */
    max-inline-size: calc(50% - 30px);
    text-align: left;
    font-weight: 700;
    line-height: 23.4px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-block-start: 172px;
  }

.main {
  gap: 80px;
  margin-block-end: 60px;
  }
  .decline-concentrate-title {
    max-inline-size: 236px;
  }

  .concentrate-subtitle-item {
    margin-block-start: 0;
  }

  .section-item-doph {
  margin-block-start: 0;
}

  .section:nth-child(odd) {
    display: grid;
    grid-template-columns: minmax(235px, 1fr) 2fr;
    /* grid-template-rows: min-content; */
    column-gap: 10px;
    row-gap: 20px;
  }

  .section-item {
    grid-column: -1;
  }
  .simple-tips {
    grid-column: -1;
    block-size: min-content;
    font-size: 18px;
  }

  .pictures-list {
    margin-block-start: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    aspect-ratio: 3 / 2;
  }

  .picture-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    max-inline-size: 479px;
    max-block-size: 192px;
  }

  .picture-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    max-inline-size: 229px;
    max-block-size: 442px;
  }

  .picture-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    max-inline-size: 229px;
    max-block-size: 568px;
  }

  .picture-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    max-inline-size: 230px;
    max-block-size: 230px;
  }

  .picture-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    max-inline-size: 479px;
    max-block-size: 318px;
  }
  .picture {
    display: block;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }



  @media (width >= 1024px) {
    .title {
      margin-block-start: 273px;
      margin-block-end: 114px;
    }

    .header {
      margin-block-end: 60px;
      grid-template-rows: min-content min-content min-content;
    }

    .header-text {
      max-block-size: 71px;
      max-inline-size: 491px;
      margin-block-end: 134px;
    }

    .header__theme-menu-list {
      display: flex;
      gap: 10px;
      list-style: none;
      justify-content: center;
      margin-block-start: 20px;
      flex-direction: row;
    }

    .header__theme-menu {
      display: flex;
      justify-content: center;
      align-items: start;
    }

    .section:nth-child(odd) {
      display: grid;
      grid-template-columns: 315px 1fr;
      grid-template-rows: min-content;
      column-gap: 10px;
      /* row-gap: 20px; */
    }

    .concentrate-subtitle-item {
      margin-block-start: 0;
    }

    .simple-tips {
      margin-block-end: 20px;
    }

    .decline-concentrate .concentrate-subtitle {
      margin-block-start: 0;
    }

    .hard-concentrate .concentrate-subtitle {
      margin-block-start: 0;
    }

    .decline-concentrate {
      display: grid;
      grid-template-columns: repeat(3, minmax(315px, 1fr));
      grid-template-rows: min-content 1fr; /* заголовок + контент */
      gap: 20px;
    }

    .decline-concentrate-title {
      grid-column: 1 / -1;
      grid-row: 1;
      padding-block-end: 0;
      max-inline-size: 315px;
    }

    .decline-concentrate .section-item:nth-of-type(1) {
      /* первый section-item */
      grid-column: 1;
      grid-row: 2;
    }

    .decline-concentrate .section-item:nth-of-type(2) {
      /* второй section-item */
      grid-column: 2;
      grid-row: 2;
    }

    .decline-concentrate .section-item:nth-of-type(3) {
      /* третий section-item */
      grid-column: 3;
      grid-row: 2;
    }

  .picture-item:nth-child(1) {
    max-inline-size: 650px;
    max-block-size: 260px;
  }

  .picture-item:nth-child(2) {
    max-inline-size: 314px;
    max-block-size: 595px;
  }

  .picture-item:nth-child(3) {
    max-inline-size: 315px;
    max-block-size: 768px;
  }

  .picture-item:nth-child(4) {
    max-inline-size: 315px;
    max-block-size: 315px;
  }

  .picture-item:nth-child(5) {
    max-inline-size: 649px;
    max-block-size: 433px;
  }

    .footer-title {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}

/*При вёрстке старайтесь использовать логические свойства там, где это возможно. 
Например, margin-block-start вместо margin-top или border-inline-end вместо border-right.*/

/* Ниже в этом же файле вы напишете медиавыражения для адаптива под разные экраны.*/
