/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --accent-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --main-text-color: #F1B2CE;
  --title-decor-color: #000028;
  --main-font-sz: 18px;
}